/*
   #9fffcf -> background
   #5585ff -> headings (bleu)
   #3366ff -> code  (bleu + pétant)
   #99ffcc -> other (vert)
   */

body {
  margin: 10px 3em;
  font-size: 14px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
/*  border: 1px solid #99ffcc;*/
  color: black;
}

h1, h2, h3, h4, h5 { color: #5585ff}

a:visited { color: #5585ff; }
a { color: #9fffcf; }
.bar a { color: blue }
.bar a:visited { color: blue }

#all { background-color: #3366ff; }

#header {
  /*border-bottom: 1px solid #9fffcf;*/
  padding: 1ex;
  background-color: white;
}
#header img {
  padding-right: 15em;
}
#header h1 {
  margin: 0ex;
  font-size: 300%;
  font-style: italic;
  font-weight: normal;
  color: blue;
}


#headerbar { border-bottom: 1px solid white; }
#footer { border-top: 1px solid white; }


#body {
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
}

.bar {
  clear: both;
  padding: 3px;
  text-align: center;
  font-size: 90%;
  background-color: #99ffcc;
}

.left, .right {
  padding: 3px 1em;
}

.left {
  float: left;
  text-align: left;
}

.right {
  float: right;
  text-align: right;
}

/** styling the website menus **/

#menu {
/* padding: .2em ; */
/*margin: 0;*/
list-style-type: none;
background-color: #99ffcc;
color: #3366ff;
font: normal 90% arial, helvetica, sans-serif;
text-align: left;
float: right;
}

#global {
  margin-left: auto;
  margin-right: 0;
  background-color: #99ffcc;
  
  width: 90%; /* largeur obligatoire pour être centré */
}


#menu a { color: blue }
#menu a:visited { color: blue }

#menu a {
  text-decoration: none;
  background-color: #99ffcc;
  color: #3366ff;
  padding: .2em 1em;
  border-right: 1px solid #fff;
}

#menu li.webgen-menu-item-selected > a{
        background: #5585ff;
        color: #99ffcc;
}

#menu li.webgen-menu-item-selected > a{
        background: #5585ff;
        color: #99ffcc;
}  

#menu li.webgen-menu-submenu-inhierarchy > a {
        background: #5585ff;
        color: #99ffcc;
}

#menu li:hover > a {
  background: #3366ff;
  color: white;
}


/** styling the content **/

h2 {
  padding: 0px;
  letter-spacing: 0.2em;
  font-size: 150%;
  font-weight: bold;
  border-bottom: 1px solid #5585ff;
}

pre {
  padding-left: 10px;
  margin: 0px 10px;
  border-left: 3px solid #9fffcf;
}

dt {
  font-weight: bold;
}

/* START Webgen horizontal dropdown menu style */
.webgen-menu-horiz-dd ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
}

.webgen-menu-horiz-dd ul ul {
  width: 15em;
  border: 1px solid black;
  position: absolute;
  z-index: 500;
}


.webgen-menu-horiz-dd a {
  display: block;
  margin: 0px;
  padding: 3px 3px;
  background-color: blue;
}

.webgen-menu-horiz-dd li {
  position: relative;
}

.webgen-menu-horiz-dd ul ul ul {
position: absolute;
top: 0;
left: 100%;
}

.webgen-menu-horiz-dd ul ul {
  display: none;
}

.webgen-menu-horiz-dd ul li:hover > ul > ul {
  display: none;
}

.webgen-menu-horiz-dd ul li:hover > ul {
  display: block;
}
/* STOP Webgen horizontal dropdown menu style */

/* START Webgen horizontal menu style */
.webgen-menu-horiz {
  text-align: center;
}

.webgen-menu-horiz ul {
  display: block;
  margin: 0px;
  padding-bottom: 3px;
  margin-bottom: 3px;
}

.webgen-menu-horiz li {
  display: inline;
  padding: 0px 5px;
}

.webgen-menu-horiz .webgen-menu-submenu-inhierarchy {
  font-weight: bold;
}

.webgen-menu-horiz .webgen-menu-item-selected {
  font-weight: bold;
}
/* STOP Webgen horizontal menu style */
/*Doc*/
#document { 
  color: #3366ff;
}
