[ -f "$HOME/.envrc" ] && source_env $HOME || true
[ -f "../.envrc" ] && source_env ../ || true

export_function() {
  local name=$1
  local alias_dir=$PWD/.direnv/aliases
  mkdir -p "$alias_dir"
  PATH_add "$alias_dir"
  local target="$alias_dir/$name"
  if declare -f "$name" >/dev/null; then
    echo "#!/usr/bin/env bash" > "$target"
    declare -f "$name" >> "$target" 2>/dev/null
    echo "$name" >> "$target"
    chmod +x "$target"
  fi
}

export ROOT_PROJECT="$(dirname "$(readlink -f "${BASH_SOURCE[0]}")")"
export PROJECT_NAME=oar-docker

mkvenv() {
    VENV_PATH="$HOME/.virtualenvs/$PROJECT_NAME"
    virtualenv $VENV_PATH
    PATH="$HOME/.virtualenvs/$PROJECT_NAME/bin/:$PATH" make init
    direnv reload
}

export_function mkvenv

if [ -e "$ROOT_PROJECT/venv/bin/activate" ]; then
    source "$ROOT_PROJECT/venv/bin/activate"
elif [ -e "$HOME/.virtualenvs/$PROJECT_NAME/bin/activate" ]; then
    source "$HOME/.virtualenvs/$PROJECT_NAME/bin/activate"
fi
