#!/bin/bash

set -e
#set -x
#export DEBCONF_DEBUG=developer

. /usr/share/debconf/confmodule

db_version 2.0

OARGRIDDIR=`find /usr/local -type d -name "oargrid" 2>/dev/null` || true
if [ "$OARGRIDDIR" != "" ]
then
  db_set oargrid/oargriddir "$OARGRIDDIR" || true
  db_input high oargrid/oldinst || true
  db_go || true
else
  db_set oargrid/oldinst false || true
fi

SUDOCONFIG=`grep oargridsub /etc/sudoers` || true
if [ "$SUDOCONFIG" = "" ]
then
  db_input high oargrid/sudoers || true
  db_go || true
fi
