Source: oar
Section: contrib/misc
Priority: optional
Maintainer: Pierre Neyron <pierre.neyron@imag.fr>
Build-Depends: debhelper (>= 4.0.0), python-docutils, perl
Standards-Version: 3.6.0

Package: oar-common
Architecture: all
Depends: perl, sudo, adduser
Suggests: oar-server, oar-user, oar-node, oar-doc
Description: OAR batch scheduler common package
 This package installs the common part or the OAR batch scheduler


Package: oar-libs
Architecture: all
Depends: oar-common, perl, sudo, adduser, libdbi-perl, libdbd-mysql-perl|libdbd-pg-perl, adduser
Suggests: oar-server, oar-user, oar-node, oar-doc
Description: OAR batch scheduler libs package
 This package installs the common part or the OAR batch scheduler

Package: oar-server
Architecture: all
Depends: oar-libs (= ${Source-Version}), ${misc:Depends}, ${perl:Depends}, openssh-client | ssh
Suggests: taktuk, mysql-client | postgresql-client, mysql-server | postgresql, phpmyadmin, oar-user, oar-node, oar-doc, openssh-server | ssh, libxml-simple-perl, libyaml-perl
Description: OAR batch scheduler server package
 This package installs the server part or the OAR batch scheduler

Package: oar-node
Architecture: all
Depends: oar-common, perl, openssh-client | ssh, openssh-server | ssh, adduser
Suggests: oar-doc, xbase-clients
Description: OAR batch scheduler node package
 This package installs the execution node part or the OAR batch scheduler

Package: oar-user
Architecture: all
Depends: oar-libs (= ${Source-Version}), ${misc:Depends}, ${perl:Depends}
Suggests: oar-doc, openssh-client | ssh, xbase-clients, libxml-simple-perl, libyaml-perl
Description: OAR batch scheduler user package
 This package install the submition and query part or the OAR batch scheduler

Package: oar-draw-gantt
Architecture: all
Depends: apache | httpd-cgi, ruby, libdbd-mysql-ruby|libdbd-pg-ruby, libgd-ruby1.8, adduser
Suggests: oar-doc
Description: OAR batch scheduler Gantt reservation diagram
 This package install the OAR batch scheduler Gantt reservation diagram CGI

Package: oar-desktop-computing-agent
Architecture: all
Depends: ${perl:Depends}, libwww-perl, liburi-perl
Suggests: oar-doc
Description: OAR desktop computing agent
 This package install the OAR batch scheduler desktop computing agent

Package: oar-desktop-computing-cgi
Architecture: all
Depends: oar-libs (= ${Source-Version}), ${perl:Depends}, apache | httpd-cgi, libcgi-perl, adduser
Suggests: oar-doc
Description: OAR desktop computing HTTP proxy CGI
 This package install the OAR batch scheduler desktop computing HTTP proxy CGI

Package: oar-doc
Architecture: all
Description: OAR batch scheduler documentation package
 This package install some documentation for OAR batch scheduler
