#!/bin/bash
# $Id$

set -e
#set -x
#export DEBCONF_DEBUG=developer

. /usr/share/debconf/confmodule

db_version 2.0

db_input high oar/server/hostname || true
db_input high oar/server/port || true
db_input high oar/server/allowednetworks || true


db_input high oar/db/dbtype || true
db_input high oar/db/hostname || true
db_go || true

db_get oar/db/dbtype
if [ "x$RET" = "xMysql" ]; then
    db_get oar/db/hostname
    [ "x$RET" = "xlocalhost" ] || db_input high oar/db/mysqlskipnetworking || true
fi

db_input high oar/db/basename || true
db_input high oar/db/baselogin || true
db_input high oar/db/basepasswd || true
db_go || true



db_get oar/db/dbtype
if [ "x$RET" = "xMysql" ]; then
    db_input high oar/db/doinit || true
    db_go || true
    db_get oar/db/doinit || true
    if [ "x$RET" = "xtrue" ]; then
        db_input high oar/db/adminlogin || true
        db_input high oar/db/adminpasswd || true
    fi
else
    db_input high oar/db/postgreswarning || true
fi


#db_input high oar/node/dosetup || true
#db_go || true
#db_get oar/node/dosetup || true
#if [ "x$RET" = "xtrue" ]; then
#	db_input high oar/node/listmethod || true
#	db_go || true
#	
#	db_get oar/node/listmethod || true
#	if [ "x$RET" = "xinline" ]; then 
#		db_input high oar/node/listinline || true
#	elif [ "x$RET" = "xfile" ]; then 
#		db_input high oar/node/listfile || true
#	fi
#	
#	db_input high oar/node/deploymethod || true
#	db_go || true
#fi
#db_go || true
