#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

BUILDDIR=debian

export OARUSER=oar
export OAROWNER=root
export OARCONFDIR=/etc/oar
export PREFIX=/usr
export MANDIR=/usr/share/man
export OARDIR=/usr/lib/oar
export BINDIR=/usr/bin
export SBINDIR=/usr/sbin
export CGIDIR=/usr/lib/cgi-bin
export PERLLIBDIR=/usr/share/perl5
export VARLIBDIR=/var/lib
export CFLAGS

ifdef DEB_HOST_ARCH_BITS
CFLAGS:=$(CFLAGS) -m$(DEB_HOST_ARCH_BITS)
endif
export CFLAGS

%:
	dh $@ 

override_dh_auto_build:
	$(MAKE) -e packages-build   PACKAGES_DIR=$(CURDIR)/$(BUILDDIR)

override_dh_auto_install:
	$(MAKE) -e packages-install PACKAGES_DIR=$(CURDIR)/$(BUILDDIR)
	dh_install -i
