Source: lustre-g5kutils
Section: admin
Priority: extra
Maintainer: Bruno Bzeznik <Bruno.Bzeznik@imag.fr>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: http://oar.imag.fr/

Package: lustre-g5kutils
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, lustre-utils
Description: Lustre tools for g5k
 This package contains scripts to make a grid5000 experiment 
 involving Lustre clients and servers.
 - lustre_mds_init to initialize a metadata server 
 - lustre_oss_init to initilize a storage resource
 - lustre_client_init to initilize a client
